# Made by crucible Python.
{% if interface.dhcp -%}
BOOTPROTO=dhcp
{% elif interface.noip -%}
BOOTPROTO=static
{% else %}
BOOTPROTO=static
IPADDR={{ interface.ipaddr | ip_address }}
PREFIXLEN={{ interface.ipaddr | ip_prefixlen }}
NETMASK={{ interface.ipaddr | ip_netmask }}
{% endif -%}
{% if interface.vlan_id -%}
ETHERDEVICE={{ interface.members | first }}
VLAN=yes
VLAN_ID={{ interface.vlan_id }}
VLAN_PROTOCOL=ieee802-1Q
{% elif interface.is_bond() -%}
BONDING_MASTER=yes
BONDING_MODULE_OPTS={% for bond_opt, bond_val in interface.bond_opts.items() %}{{ bond_opt }}={{ bond_val }} {% endfor %}
{% for member in interface.members -%}
BONDING_SLAVE_{{ loop.index0 }}={{ member }}
{% endfor -%}
{% elif interface.is_bridge() %}
LABEL={{ interface.name }}
BRIDGE=yes
BRIDGE_PORTS={{ interface.members | join(" ") }}
BRIDGE_STP=off
{% endif -%}
ONBOOT=yes
STARTMODE=auto
MTU={{ interface.mtu }}
