<!DOCTYPE html>
<html>
   <head>
       {{ title }}
      <meta http-equiv = "refresh" content="0; url='/{{ project }}/en/latest/'" />
   </head>
   <body>
      <p>Please wait while you're redirected to our <a href="/{{ project }}/en/latest/">documentation</a>.</p>
   </body>
</html>
